*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    background: transparent;
}

body{
    background:rgb(255, 255, 255);
    color: white;
    overflow:hidden;
    overflow-y: scroll;
    width: 100%; 
    height: 100%; 
    position:relative;
}

.navbar{
    height: 80px;
    width: 100%;
    background: #FFEFDF;
   
}

.logo{
    width: 10rem;
    margin-left: 60px;
}

.navbar ul{
    float: right;
    margin-right: 60px;
}

.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
.download{
    background: #0AAC88;
    font-size: 1.5rem;
    position: relative;
    height: 3rem;
    top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar ul li a{
    color:  black;
    font-size: 1.5rem;
    padding: 7px 13px;
}

.checkbtn{
  font-size: 3rem;
  float:right;
  cursor: pointer;
  display: none;
  margin-right: 6px;
  line-height: 80px;
}

.material-icons{
    position: relative;
    top: 1.5rem;
}
.downloadlbl{
    position: relative;
}

#check{
    display: none;
}
.media123{
    font-size: 4rem; 
}

.media124{
    font-size: 1.2rem;
}

.laptop{
    width: 721.81px;
    height: 460.27px
}

.mobile{
    width: 126.55px; 
    height: 258.73px;
    right: 110px;
}
.img6{
    position: relative;
    left: 65vw;
    top: 757;
    width: 3rem;
}
.img7{
position: relative;
left: 65vw;
top: 760;
width: 3rem;
}
#Home{
    position: relative;
    text-decoration: none;
    font-size: 1.5rem; 
    font-family: Poppins; 
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: -190px;
}
.img9{
    left: 3.5vw;
}
.img11{
    width: 100px;
    height: 110px;
    flex-shrink: 0;
    display: flex;
    position: relative;
    left: 50vw;
    top: 20vh ;

}
@media (max-width: 1452px){
    .navbar ul li{
        margin: 0 10px;
    }
}


@media (max-width: 1252px){
    .logo{
        margin-left: 20px;
    }

    .img6{
        position: relative;
        left: 64vw;
        top: 757;
        width: 3rem;
    }
    .img7{
    position: relative;
    left: 64vw;
    top: 760;
    width: 3rem;
    }
    .img9{
        left: 3vw;
    }

    .media124{
        font-size: 1rem;
    }
    
    .checkbtn{
        display: block;
        margin-right: 20px;
    }
    .media123{
        font-size: 3rem; 
    }
    .laptop{
        width: 521.81px;
        height: 360.27px
    }
    .mobile{
        width: 106.55px; 
        height: 218.73px;
        right: 90px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        transition: all .5s;
        background: #e9e1d9;
        text-align: center;
        z-index: 999;
    }

    .navbar ul li{
        display:  block;
    }

    .navbar ul li a:hover{
        color: #FFB845;
    }
    .navbar ul li a.active{
        color: #FFB845;

    }
    #check:checked ~ ul{
        left: 0;
    }

    .img11{
        left: 75vw;
        top: 20vh ;
    }

}
@media (max-width:1000px){
    .img9{
        left: 2.5vw;
    }
    .img11{
        left: 75vw;
        top: 20vh ;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    .media124{
        font-size: 1rem;
    }
    .img6{
        position: relative;
        left: 60vw;
        top: 757;
        width: 3rem;
    }
    .img7{
    position: relative;
    left: 60vw;
    top: 760;
    width: 3rem;
    }
    .img9{
        left: 1vw;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .laptop{
        width: 340.81px;
        height: 260.27px;
    }
    .mobile{
        width: 76.55px; 
        height: 158.73px;
        right: 70px;
    }

    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .media123{
        font-size: 2rem; 
        
    }

    .navbar ul li a{
        font-size: 20px;
    }
    .navbar ul li a:hover,a.active{
        color: #FFB845;

    }
    .navbar ul li a.active{
        color: #FFB845;

    }

    #check:checked ~ ul{
        left: 0;
    }

    #Home{
        position: relative;
        text-decoration: none;
        font-size: 1.5rem; 
        font-family: Poppins; 
        font-weight: 600;
        word-wrap: break-word;
        margin-bottom: -310px;
    }
    
    .img11{
        left: 75vw;
        top: 15vh ;
    }
}
@media (max-width:700px){
    .img11{
        left: 75vw;
        top: 13vh ;
    }
}

@media (max-width:600px){
    .img11{
        left: 75vw;
        top: -12vh ;
    }
}

@media (max-width:500px){
    .img11{
        left: 75vw;
        top: -15vh ;
    }
}



@media (max-width:400px){
    .img11{
        left: 75vw;
        top: 40vh ;
    }
}




.Platform{

    color: black;
    position: relative;
    right: 40;
    padding: 20;
    font-size: 1.5rem;
    text-decoration: none; 
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.Features{
    color: black; position: relative;
    right: 40;
    padding: 20;
    text-decoration: none;
    font-size: 1.5rem; font-family: Poppins; font-weight: 600; word-wrap: break-word;
}

.Our{
    color: black; position: relative;
    right: 40;
    padding: 20;
    text-decoration: none;
     font-size: 1.5rem; font-family: Poppins; font-weight: 600; word-wrap: break-word;
}

.Contact{
    color: black; position: relative;
    right: 40;
    padding: 20;
    text-decoration: none;
    font-size: 1.5rem; font-family: Poppins; font-weight: 600; word-wrap: break-word;
}
 nav a:hover,
 nav a.active
 {
    color: #FFB845;
 }


.img{
    position: relative;
    right: 40px;
    top: 1px;
    left: 10px;
    width: 60px;
    padding: 10px;
    
    
}

.img1{
    position: relative;
    right: 30;
    bottom: 30;
    width: 100px;
    
    
}

.img3{
    position: relative;
    right: 120px;
    bottom: 30;
    width: 100px;
    rotate: 90%;
    
    
}
.img4{
    position: relative;
    right: 120px;
    bottom: 30;
    width: 100px;
    rotate: 90%;
    
    
}

.img5{
    position: relative;
    right: 120px;
    top: 50px;
    width: 100px;
    rotate: 90%;
    
    
}

.h1
{
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    display: flex;
    top: 800;
    left: 70vw;
    font-weight: 5;
    font-size: 12;
}
.h2
{
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    display: flex;
    top: 800;
    left: 70vw;
    font-weight: 29px;
    font-size: 17;
}

.h3{
    color: black;
    display: flex;
    position: relative;
    top: 830px;
    left: 5vw;
}

.img8{
    position: relative;
    left: 11;
    top: 830;
    left: 150;
    width: 249px;
    height: 46px;

}

.h4{
    color: #0AAC88;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    position: relative;
    top: 830px;
    left: 5vw;
}
.h5{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    position: relative;
    top: 845px;
    left: 5vw;
    margin-right: 5rem;
}

.h6{
    align-self: stretch;
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    position: relative;
    top: 845px;
    left: 5vw;
    padding: 20px;
    padding-right: 40px;
}





.img12{
    min-width: 300px;
    max-width: 680px;
    min-height: 500px;
    max-height: 550px;
    flex: 1 0 0;
    align-self: stretch;
    position: relative;
    left: 50rem;
    top: 100;
}

.img13
{
    width: 183px;
    height: 183px;
    position: relative;
    left: 40%;
    top: 230;
}
.h7{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 45%;
    top: 120;
}

.img14{
    width: 249px;
    height: 46px;
    flex-shrink: 0;
    position: relative;
    left: 45%;
    top: 115;

}
.img15
{
    position: relative;
    left: 1300;
    bottom: 100;
    width: 100px;
    rotate: 90%;
    display: flex;

}

.img16
{
    position: relative;
    bottom: 30;
    width: 100px;
    width: 100px;
    rotate: 90%;
    display: flex;

}
#vid1{
    width: 70%;
    height: 50%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    bottom: 50;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 99999;
    
}

.img17{
    width: 136px;
    height: 136px;
    flex-shrink: 0;
    display: flex;
    position: relative;
    left: 1390;
    bottom: 389;
}

.img19{
    width: 147.375px;
    height: 102.705px;
    flex-shrink: 0;
    display: flex;
    position: relative;
    left: 1350;
    bottom: 400;

}
.img18{
    width: 151px;
    height: 151px;
    flex-shrink: 0;
    display: flex;
    position: relative;
    left: 270;
    bottom: 250;
}
.img20{
    display: flex;
    position: relative;
    left: 40;
    bottom: 367;
    width: 5rem;
}
.img21{
    align-self:stretch;
    position: relative;
    left: 1vh;
    bottom: 440;
    padding: 20;
    width: 30rem;
    
}

.h8{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex: 1 0 0;
    align-self:stretch;
    position: relative;
    left: 670vh;
    bottom: 1150;
    padding: 100;
}

.img22{
    position: relative;
    left: 11;
    bottom: 1220;
    left: 770;
    width: 249px;
    height: 46px;

}
.h9{
    color: #0AAC88;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    position: relative;
    bottom: 1220px;
    left: 770;
}

.h10{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    position: relative;
    bottom: 1224px;
    padding: 20;
    left: 800;
}

.h11{

    align-self: stretch;
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    position: relative;
    bottom: 1220px;
    left: 800;
    padding: 20px;
}

.img24{
    display: flex;
    position: relative;
    bottom: 1160px;
    left: 1340;    
}

.img25{
    width: 161px;
    height: 226px;
    flex-shrink: 0;
    display: flex;
    position: relative;
    bottom: 1480px;
    left: 500;
   
}

.h12{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 680;
    bottom: 1530;
}
.img26{
    width: 249px;
    height: 46px;
    flex-shrink: 0;
    position: relative;
    left: 685;
    bottom: 1530;
}

.img27{
   
    flex-shrink: 0;
    position: relative;
    left: 335;
    bottom: 1700;
}
.img28{
    flex-shrink: 0;
    position: relative;
    left: 1400;
    bottom: 1800;
}
.img29{
    flex-shrink: 0;
    position: relative;
    left: 100;
    bottom: 1400;
}

.img30{
    flex-shrink: 0;
    position: relative;
    left: 100;
    bottom: 1400;
}
